.hamburger{
    display: none;
    cursor: pointer;
    margin-right: 8px;
}

.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    opacity: 1;
}

.bar2{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    opacity: 0;
}

.bar1{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    transform:  translateY(8px) rotate(45deg);
}

.bar3{
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    transform:  translateY(-8px) rotate(-45deg);
}


@media(max-width:768px){

    .hamburger{
        display: block;
    }
}
