.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container h1{
    text-align: center;
    margin-top: 40px;
    color: DodgerBlue;
    text-transform: uppercase;

}

.containerV{
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
  height: 120vh;
   margin-top: 30px;
}

.container video{
    display: block;
    margin: auto;
    width: 800px;
    height: 400px;
    margin-left: 50vw;
    transform: translate(-50%);
}

@media(max-width:768px){

  .container video{
    width: 100%;
    margin-left: 0;
    transform: translate(0);
  }
  
}
.containerV form{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerV fieldset{
    
    width:60%;
}

.containerV legend{
    font-size: 20px;
    font-weight: bold;
    color: DodgerBlue;
    margin-bottom: 20px;
}

.containerV input[type="radio"]{
    margin-left: 20px;
    margin-bottom: 30px;
}



.wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .button {
      margin-top: 100px;
    min-width: 200px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: DodgerBlue;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, DodgerBlue 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px DodgerBlue;;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid DodgerBlue;
    box-shadow: 0 0 60px DodgerBlue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid DodgerBlue;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }